<div class="container">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">File Name</th>
	      <th scope="col">Created At</th>
	      <th scope="col">Download</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @documents.each do |document| %>
		    <tr>
		      <td><%= document.id %></td>
		      <td><%= document&.document_file&.filename rescue "-" %></td>
		      <td><%= document.created_at.strftime("%m-%d-%Y") %></td>
		      <td><%= image_tag "download.png", width: '20'%></td>
		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>