<div class="main-wrapper">
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto">
          <div class="row g-6 justify-content-between">
            <div class="col-md-5">
              <div class="file-block shadow">
                <%= link_to image_tag("file-icon.png"), root_path(file_type: 'input'), class: 'file-icon' %>
              </div>
              <h4 class="text-black fw-normal mt-4 text-center">File Input</h4>
            </div>
            <div class="col-md-5">
              <div class="file-block shadow">
                <%= link_to image_tag("file-icon.png"),root_path(file_type: 'output'), class: 'file-icon' %>
              </div>
              <h4 class="text-black fw-normal mt-4 text-center">File Output</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>